Going to explore the new cleaned player data and hopefully run some information on more team data and aggregates of their players

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

# Load the cleaned data
file_path = os.getenv('CLEANED_PLAYERS_DATA_PATH')
if file_path is None:
    raise ValueError("CLEANED_PLAYERS_DATA_PATH environment variable not set.")

cleaned_data = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
cleaned_data.head()

,PlayerID,SportsDataID,Status,TeamID,Team,Jersey,PositionCategory,Position,MLBAMID,FirstName,...,Height,Weight,BirthDate,BirthCity,BirthState,BirthCountry,HighSchool,College,ProDebut,Experience
0,10000005,NaN,Non-Roster Invitee,17,DET,NaN,P,RP,605177.0,Andrew,...,74.0,235.0,1990-06-17,Kettering,OH,Usa,NaN,Kent State,2014-08-13,11.0
1,10000020,NaN,Active,15,SF,38.0,P,SP,592662.0,Robbie,...,74.0,225.0,1991-10-01,Brentwood,TN,Usa,Brentwood (TN),None,2014-05-06,11.0
2,10000029,NaN,Non-Roster Invitee,28,TEX,23.0,IF,SS,605113.0,Nick,...,74.0,201.0,1990-03-15,Springfield,MA,Usa,NaN,Connecticut,2014-06-29,11.0
3,10000030,NaN,Non-Roster Invitee,16,CHW,28.0,IF,2B,592273.0,Brandon,...,74.0,230.0,1992-08-21,Grants Pass,OR,Usa,Grants Pass (OR),None,2015-09-01,10.0
4,10000031,NaN,Active,29,NYY,48.0,IF,1B,502671.0,Paul,...,75.0,225.0,1987-09-10,Wilmington,DE,Usa,NaN,Texas State,2011-08-01,14.0

In [3]:
# Create a dictionary to store DataFrames for each team
team_dataframes = {}

# Iterate over unique teams and create a DataFrame for each team
for team in cleaned_data['Team'].unique():
    team_df = cleaned_data[cleaned_data['Team'] == team]
    team_dataframes[team] = team_df
# Function to get a DataFrame for a specific team
def get_team_dataframe(team):
    return team_dataframes.get(team.upper())
# Example: Access the DataFrame for the Detroit Tigers (DET)
det_players_df = team_dataframes.get('DET')
if det_players_df is not None:
    print(f"Detroit Tigers DataFrame:\n{det_players_df.head()}")

# Example: Access the DataFrame for the San Francisco Giants (SF)
sf_players_df = team_dataframes.get('SF')
if sf_players_df is not None:
    print(f"San Francisco Giants DataFrame:\n{sf_players_df.head()}")

Detroit Tigers DataFrame:
     PlayerID  SportsDataID              Status  TeamID Team  Jersey  \
0    10000005           NaN  Non-Roster Invitee      17  DET     NaN
19   10000213           NaN              Active      17  DET    28.0
37   10000378           NaN              Active      17  DET    43.0
114  10001191           NaN              Active      17  DET    38.0
225  10005288           NaN              Active      17  DET    18.0

    PositionCategory Position   MLBAMID FirstName  ... Height Weight  \
0                  P       RP  605177.0    Andrew  ...   74.0  235.0
19                IF       SS  595879.0    Javier  ...   72.0  190.0
37                 P       RP  592454.0     Tommy  ...   73.0  230.0
114                P       SP  502171.0      Alex  ...   75.0  205.0
225                P       SP  628317.0     Kenta  ...   73.0  185.0

      BirthDate  BirthCity  BirthState BirthCountry  \
0    1990-06-17  Kettering          OH          Usa
19   1992-12-01    Bayamon         NaN  Puerto Rico
37   1989-08-07     Latham          NY          Usa
114  1987-10-07     Boston          MA          Usa
225  1988-04-11      Osaka         NaN        Japan

                     HighSchool     College    ProDebut Experience
0                           NaN  Kent State  2014-08-13       11.0
19   Arlington Country Day (FL)        None  2014-08-05       11.0
37                          NaN   Lynn (FL)  2014-04-03       10.0
114             Vero Beach (FL)        None  2011-05-01       13.0
225           PL Gakuen (Japan)        None  2016-04-06        8.0

[5 rows x 23 columns]
San Francisco Giants DataFrame:
    PlayerID  SportsDataID              Status  TeamID Team  Jersey  \
1   10000020           NaN              Active      15   SF    38.0
5   10000033           NaN  Non-Roster Invitee      15   SF    33.0
43  10000432           NaN              Active      15   SF    35.0
47  10000484           NaN  Non-Roster Invitee      15   SF    34.0
82  10000813           NaN              Active      15   SF    41.0

   PositionCategory Position   MLBAMID FirstName  ... Height Weight  \
1                 P       SP  592662.0    Robbie  ...   74.0  225.0
5                IF       3B  571875.0      Jake  ...   75.0  215.0
43                P       SP  434378.0    Justin  ...   77.0  235.0
47               IF        C  545358.0       Max  ...   70.0  210.0
82               IF       1B  527038.0    Wilmer  ...   74.0  213.0

     BirthDate      BirthCity  BirthState BirthCountry        HighSchool  \
1   1991-10-01      Brentwood          TN          Usa    Brentwood (TN)
5   1990-10-09        Seattle          WA          Usa               NaN
43  1983-02-20  Manakin-Sabot          VA          Usa               NaN
47  1991-03-15       Woodland          CA          Usa    Yuba City (CA)
82  1991-08-06       Valencia         NaN    Venezuela  Inra (Venezuela)

         College    ProDebut Experience
1           None  2014-05-06       11.0
5     Washington  2014-08-07       10.0
43  Old Dominion  2005-07-04       19.0
47          None  2013-08-20       10.0
82          None  2013-08-06       12.0

[5 rows x 23 columns]